body {
   font-size: 16px;
   color: #fff;
   background-color: #61122f;
   font-family: 'Oxygen', sans-serif; 
}

/** HEADER **/
#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}

.navbar-brand {
    padding-top: 25px;
}
  
.navbar-brand h1 { /* Restaurant name */
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
#nav-list {
    margin-top: 10px;
}
#nav-list a {
    color: #951C49;
    text-align: center;
}
#nav-list a:hover {
    background: #E7E7E7;
}
#nav-list a span {
    font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
}

/** BODY **/
body h1 {
    color: #fff;
    text-align: center;
    font-size: 3em;
}

div .subtitle {
    font-size: 1.8em;
}

div .dummytext {
    font-size: 1.2em;
    padding: 20px;
}

#Chicken {
    margin: 15px; 
    background-color: grey; 
    border: 1px solid black;
}

#Chicken .subtitle {
    background-color: hotpink;
}

#Beef {
    margin: 15px; 
    background-color: grey; 
    border: 1px solid black;
}

#Beef .subtitle {
    background-color: red; 
    color: white;
}

#Sushi {
    margin: 15px; 
    background-color: grey; 
    border: 1px solid black;
}

#Sushi .subtitle {
    background-color: palegoldenrod;
}